In [1]:
import pandas as pd
import numpy as np

In [2]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = np.random.rand(3,3)*100
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

           col1       col2       col3
row1  70.244249  40.700052  10.690548
row2  59.102763  59.526420  95.574261
row3  45.825347  91.404831  82.511384

In [3]:
df.round(0)

      col1  col2  col3
row1  70.0  41.0  11.0
row2  59.0  60.0  96.0
row3  46.0  91.0  83.0

In [4]:
df.round(1)

      col1  col2  col3
row1  70.2  40.7  10.7
row2  59.1  59.5  95.6
row3  45.8  91.4  82.5

In [5]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = [[1,2,3],[4,5,6],[7,np.NaN,9]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1   2.0     3
row2     4   5.0     6
row3     7   NaN     9

In [6]:
df.sum(axis=0)

col1    12.0
col2     7.0
col3    18.0
dtype: float64

In [7]:
df.sum(axis=1)

row1     6.0
row2    15.0
row3    16.0
dtype: float64

In [11]:
df.sum(axis = 1, min_count = 3) #min_count: dataframe 내에서 계산에 필요한 숫자의 최소 갯수

row1     6.0
row2    15.0
row3     NaN
dtype: float64

In [13]:
df.prod(axis =0, skipna = True)

col1     28.0
col2     10.0
col3    162.0
dtype: float64

In [14]:
df.apply(np.prod, axis= 0)

col1     28.0
col2     10.0
col3    162.0
dtype: float64

In [16]:
df.apply(np.prod, axis = 1)

row1      6.0
row2    120.0
row3     63.0
dtype: float64

In [17]:
df.apply(lambda x : [1,2,3])

      col1  col2  col3
row1     1     1     1
row2     2     2     2
row3     3     3     3

In [18]:
df

      col1  col2  col3
row1     1   2.0     3
row2     4   5.0     6
row3     7   NaN     9

In [22]:
list(map(lambda x: x ** 2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
from functools import reduce
reduce(lambda x,y : x+y, [0,1,2,3,4])

10

In [25]:
reduce(lambda x, y : y + x, 'abcde')

'edcba'

In [27]:
list(filter(lambda x: x % 2, range(10)))

[1, 3, 5, 7, 9]

In [30]:
def read_date():
    year, month, day = tuple(map(int, input().split()))
    return year, month, day
read_date()

20231001

ValueError: not enough values to unpack (expected 3, got 1)

In [31]:
 d = {0: '영', 1: '일', 2: '이', 3: '삼', 4: '사', 5: '오', 6: '육', 7: '칠', 8: '팔', 9: '구'}

In [32]:
d.0

SyntaxError: invalid syntax (996183618.py, line 1)

In [33]:
d[0]

'영'

In [34]:
d["영"]

KeyError: '영'

In [46]:
x = int(input("숫자를 입력하세요 0~1"))
a = ['영','일','이','삼','사','오','육','칠','팔','구']
print(a[x])

숫자를 입력하세요 0~10
영

In [47]:
map(lambda x: ['영','일','이','삼','사','오','육','칠','팔','구'][x])(0)

TypeError: map() must have at least two arguments.

In [50]:
print(f"r\nt")

r
t

In [51]:
idiom = {
    '江湖之樂(강호지락)': '자연을 벗 삼아 누리는 즐거움',
    '欲速不達(욕속부달)': '빨리 하고자 하면 이루지 못함',
    '積小成大(적소성대)': '작은 것을 쌓아 큰 것을 이룸',
    '勤儉節約(근검절약)': '부지런하고 알뜰하게 재물을 아낌',
    '經世濟民(경세제민)': '세상을 다스리고 백성을 구제함',
    '塞翁之馬(새옹지마)': '인생의 길흉화복은 변화가 많아서 예측하기가 어려움',
    '好事多魔(호사다마)': '좋은 일에는 흔히 방해되는 일이 많음',
    '桑田碧海(상전벽해)': '세상일의 변천이 심함',
    '自業自得(자업자득)': '자기가 저지른 일의 결과를 자기가 받음',
    '因果應報(인과응보)': '원인과 결과가 상응하여 보답한다',
    '愚公移山(우공이산)': '어떤 일이든 끊임없이 노력하면 반드시 이루어짐',
}

In [54]:
idiom.items('江湖之樂(강호지락)',)

TypeError: dict.items() takes no arguments (1 given)